version: '3.8'

services:
  api:
    build: ./api
    ports:
      - "8000:8000"
    depends_on:
      - cnndetection
      - ganimagedetection
      - universalfakedetect
    environment:
      - CNNDETECTION_URL=http://cnndetection:5000/predict
      - GANIMAGEDETECTION_URL=http://ganimagedetection:5001/predict
      - UNIVERSALFAKEDETECT_URL=http://universalfakedetect:5002/predict

  cnndetection:
    build: ./models/image/cnndetection
    ports:
      - "5000:5000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - USE_GPU=true
      - MODEL_PORT=5000
      - MODEL_PATH=cnndetection/weights/blur_jpg_prob0.5.pth

  ganimagedetection:
    build: ./models/image/ganimagedetection
    ports:
      - "5001:5001"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - USE_GPU=true
      - MODEL_PORT=5001

  universalfakedetect:
    build: ./models/image/universalfakedetect
    ports:
      - "5002:5002"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    environment:
      - USE_GPU=true
      - MODEL_PORT=5002

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api